
body {
    background-image: url(../assets/images/background.jpg);
}

/*Start Navbar Style*/
#logo {
    font-size: 22px;
    color:#E7E7EE;
    background-color:hsl(208, 91%, 9%);
}

/*End Navbar Style*/

/*Start Footer Style*/

.footer-strip {
    /* Box-model */
    height: 4px;
    padding-top: 3px;
    /* Visual */
    background-color: #A0A0BB;
  }

.footer {
position: absolute;
bottom: 0;
background-color:hsl(208, 91%, 9%);
width: 100%;
color:#E7E7EE;
}
/*End Footer Style*/
