
body {
    background-image: url(../assets/images/background.jpg);
}

/*Start Navbar Style*/
#logo {
    font-size: 22px;
    color:#E7E7EE;
    background-color:#02182B;
}

/*End Navbar Style*/

/*Start Footer Style*/

.footer {
position: sticky;
bottom: 0;
}
